* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root{
    --title-font: 'Bebas Neue', cursive;
    --text-font: 'PT Sans', sans-serif; 
    --primary-color:#DAF7A6;
    --secondary-color:#FFC300;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

.container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.title {
    font-family: var(--title-font);
    font-size: 6rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-bottom: 2rem;
}

.sub-title {
    font-family: var(--title-font);
    font-size: 4rem;
    color: #444;
    margin-bottom: 2rem;
}


p {
    font-family: var(--text-font);
    font-size: 2rem;
    text-align: center;
}

img {
    max-width: 300px;
    width: 100%;
    border: solid 10px var(--secondary-color);
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 1);
    border-radius: 1rem;
    margin: 1rem;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    max-width: 400px;
    width: 100%;
    border: 10px dashed var(--secondary-color);
    box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 1);
    margin: 1rem;
    border-radius: 1rem;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}